<!-- Page Footer-->
<footer class="main-footer copyrights">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2018. All rights reserved. Route 61.</p>
      </div>
      <div class="col-md-6 text-right">
        <p>Links go here...
          <a href="https://bootstraptemple.com" class="text-white"></a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="../vendor/popper.js/umd/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/jquery.cookie/jquery.cookie.js">
</script>
<!-- Plugin JavaScript -->
<!-- <script src="../vendor/jquery-easing/jquery.easing.min.js"></script> -->

<!-- Contact form JavaScript -->
<!-- <script src="../js/jqBootstrapValidation.js"></script>
<script src="../js/contact_me.js"></script>
<script src="../vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script> -->
<!-- <script src="../scripts/front.js"></script> -->
<script src="../scripts/extras.js"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('body');
</script>
<script>
  function showDiv(elem) {
    if (elem.value == "Yes")
      document.getElementById('hidden_div').style.display = "block";
  }
</script>
</body>

</html>