<!-- Page Footer-->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <h6 class="text-white">Route Sixty One</h6>
        </div>
        <div class="contact-details">
          <p>61 Rich Guy Dr, Beverly Hill, CA 90210</p>
          <p>Phone: (123) 456 789 0123</p>
          <p>Email:
            <a href="mailto:route61@gmail.com">Route61@gmail.com</a>
          </p>
          <ul class="social-menu">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-behance"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="menus d-flex">
          <ul class="list-unstyled">
            <li>
              <a href="#">Stuff</a>
            </li>
            <li>
              <a href="#">Things</a>
            </li>
            <li>
              <a href="#">Privacy &amp; Policy</a>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <a href="#">Our Cool Stuff</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Hey</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="latest-posts">
          <a href="#">
            <div class="post d-flex align-items-center">
              <div class="image">
                <img src="img/small-thumbnail-1.jpg" alt="..." class="img-fluid">
              </div>
              <div class="title">
                <strong>Hotels for all budgets</strong>
                <span class="date last-meta">October 26, 2016</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="post d-flex align-items-center">
              <div class="image">
                <img src="img/small-thumbnail-2.jpg" alt="..." class="img-fluid">
              </div>
              <div class="title">
                <strong>Great street atrs in London</strong>
                <span class="date last-meta">October 26, 2016</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="post d-flex align-items-center">
              <div class="image">
                <img src="img/small-thumbnail-3.jpg" alt="..." class="img-fluid">
              </div>
              <div class="title">
                <strong>Best coffee shops in Sydney</strong>
                <span class="date last-meta">October 26, 2016</span>
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="../vendor/popper.js/umd/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/jquery.cookie/jquery.cookie.js">
</script>
<!-- Plugin JavaScript -->
<!-- <script src="../vendor/jquery-easing/jquery.easing.min.js"></script> -->

<!-- Contact form JavaScript -->
<!-- <script src="../js/contact_me.js"></script> -->
<!-- <script src="../vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
<script src="../scripts/front.js"></script> -->
<script src="../scripts/extras.js"></script>
<!-- <script src="./js/password-strength-meter/password.min.js"></script> -->
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('body');
</script>
</body>

</html>