<% include ./partials/header %>
<h1>Welcome <% post.user.firstName %></h1>
<h4>Your Posts</h4>
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(function(post){ %>
        <tr>
          <td><a href="/stories/show/{{id}}"><% post.title %></a></td>
          <td>{{formatDate data 'MMMM do YYYY'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a class="btn left-align" href="/posts/edit/{{id}}"><i class="fa fa-pencil"></i> Edit</a>

            <a href="/posts/<%=post._id%>/comments/<%=comment._id%>/edit" class="btn btn-x    btn-warning">EDIT</a>
              <form class="delete-form" action="/posts/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">DELETE</button>
              </form>   
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% include ./partials/footer %>