<% include ../partials/header2 %>
<div class="container">
    <div class="row">
        <div class="new-blocks">
            <% /* <h1 style="text-align: center;">New Post</h1> */%>
            <fieldset>
            <legend>New Post</legend>
            <form action="/posts" method="post" enctype="multipart/form-data">
                <div class="form-group">
                <label class="sr-only" for="FormInputGroup">Post Title</label>
                <p><b>Post Title:</b></p>
                    <input class="form-control" type="text" name="post[title]" id="title" required>
                </div>
                <div class="form-group">
                    <label for="image"><b>Image</b>:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="FormInputGroup">Post</label>
                    <p><b>Post:</b></p>
                    <textarea class="form-control" name="post[body]" id="body" rows="15" required></textarea>
                </div>
                 <div class="form-group">
                    <label for="FormInputGroup">Status:</label>
                    <select name="post[status]" id="status">
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                    </select>
                </div>
                <div class="form-group">
                    <div>
                    <label for="FormInputGroup">Primary Post?</label>
                    <input class="form-control" type="checkbox" name="post[primary]" id="primary">
                    </div>
                </div>
                <div class="form-group">
                    <label for="FormInputGroup">Artist Name:</label>
                    <input class="form-control" type="text" name="post[tag1]" id="tag1">
                </div>
                <div class="form-group">
                    <label for="FormInputGroup">Tags</label>
                    <select name="post[tag2]" id="tag2">
                        <option value="Rock">Rock</option>
                        <option value="Blues">Blues</option>
                        <option value="Americana">Americana</option>
                        <option value="Folk">Folk</option>
                        <option value="Country">Country</option>
                        <option value="Playlist">Playlist</option>
                        <option value="Album">Album</option>
                        <option value="Song">Song</option>
                        <option value="Live">Live</option>
                </select>
                </div>                
                <div class="form-group">
                    <label for="FormInputGroup">Tags</label>
                    <select name="post[tag3]" id="tag3">
                        <option value="Rock">Rock</option>
                        <option value="Blues">Blues</option>
                        <option value="Americana">Americana</option>
                        <option value="Folk">Folk</option>
                        <option value="Country">Country</option>
                        <option value="Playlist">Playlist</option>
                        <option value="Album">Album</option>
                        <option value="Song">Song</option>
                        <option value="Live">Live</option>
                </select>
                </div>               
                <div class="form-group">
                    <label for="FormInputGroup">Tags</label>
                    <select name="post[tag4]" id="tag4">
                        <option value="Rock">Rock</option>
                        <option value="Blues">Blues</option>
                        <option value="Americana">Americana</option>
                        <option value="Folk">Folk</option>
                        <option value="Country">Country</option>
                        <option value="Playlist">Playlist</option>
                        <option value="Album">Album</option>
                        <option value="Song">Song</option>
                        <option value="Live">Live</option>
                </select>
                </div> 
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            </fieldset>
            <a href="/posts">View All Posts</a>
        </div>
    </div>
</div>
<% include ../partials/footer2 %>
