<% include ../partials/header2 %>
<div class="container">
    <div class="row">
        <div class="new-blocks">
            <h1 style="text-align: center;">New Post</h1>
            <form action="/posts" method="post">
                <div class="form-group">
                <label class="sr-only" for="FormInputGroup">Post Title</label>
                <h4>Post Title:</h4>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Post Title">
                </div>
                <div class="form-group">
                    <h4>Image:</h4>
                    <label class="sr-only" for="FormInputGroup">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="FormInputGroup">Post</label>
                    <h4>Post:</h4>
                    <textarea class="form-control" name="body" id="body" rows="15" required></textarea>
                </div>
                <% /* <div class="form-group">
                    <label for="FormInputGroup">Status:</label>
                    <select name="status" id="status">
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="FormInputGroup">Primary Post?</label>
                    <input class="form-control" type="checkbox" value="true" name="primary" id="primary">
                </div>
                <div class="form-group">
                    <label for="FormInputGroup">Tags</label>
                    <input class="form-control" type="checkbox" name="tags" id="tags">
                </div> */ %>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/posts">View All Posts</a>
        </div>
    </div>
</div>
<% include ../partials/footer2 %>
