<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">New Post</h1>
        <div style="width: 30%; margin: 1.75em auto;">
            <form action="/posts" method="post">
                <div class="form-group">
                <label class="sr-only" for="FormInputGroup">Post Title</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Post Name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="FormInputGroup">Image</label>
                        <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="FormInputGroup">Post</label>
                    <input class="form-control" type="text" name="body" id="body" placeholder="Body">
                </div>
                <div class="form-group">
                    <label for="FormInputGroup">Status:</label>
                    <select name="status" id="status">
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="FormInputGroup">Primary Post?</label>
                    <input class="form-control" type="checkbox" value="true" name="primary" id="primary">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/posts">View All Post</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>